
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/* MOBIL*/
.main { 
  width: 500px;
  height: 1655px;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #fafafa;
  padding: 10px;
}

.traveller {
  width: 350px;
  height: 290px;
  align-items: center;
  padding: 60px;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h1::after {
content: "";
width: 60px;
height: 3px;
background-color: #407BFF;
display: block;
margin-left: 45%;
margin-top: 10px;
}  

h2, h3 {
	font-size:16px;
	font-weight: bold;
  padding-top: 5px;
}

.button1, .button2 {
  font-size: 14px;
  text-align: center;
  color: white;
  margin: 8px auto;
  border-radius: 20px;
  padding: 10px; 
}

.button1 {
  width: 195px;
  height: 40px;
  background-color: #407BFF
}

.button2 {
  width: 220px;
  height: 40px;
  background-color:#8B8B8B
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 4px 6px #407BFF1F;
  width: 460px;
  height: 80px;
  font-size: 13px;
  padding: 20px;
  margin-bottom: 5px;
}


/* TABLET*/

@media screen and (min-width: 640px) {
  
  .traveller {
    width: 400px;
    height: 330px;
    align-items: center;
    padding: 60px;
  }

  .tlacitka {
    display: flex;
    justify-content: center;
    width: 435px;
    margin-left: 160px;
    margin-right: 160px;   
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: 170px;
    margin: 20px;
  }

  .odkazy, .odkazy2 {
    display: flex;
  }

}

/*PC*/

@media screen and (min-width: 1100px) {

  .main {
    width: 1200px;
    height: 1015px;
    text-align: left;
    padding-left: 80px;
  }
  
  .tlacitka {
    margin-left: 0%;
  }

   /* ÚVODNÍ TEXT S TLACITKY*/ 
  .button {
    width: 500px;
    height: 65px;
    
  }
  /* ÚVODNÍ TEXT S TLACITKY A OBRÁZEK TRAVELLER*/ 
  .toppc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 0%;
   
  }
  h1::after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #407BFF;
    margin-left: 0%;
    margin-top: 10px;
  }  

  /* 3 ICON A SLUŽBY CK*/ 
  .sluzby1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
  }

  /* SLUŽBY DELEGATA A 3 ICON*/ 
  .sluzby2 {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 20px;
  }

  .icon {
    align-items: center;
    text-align: center;
    width: 170px;
    height: 190px;
    margin: 10px;
  }
}
